{% extends 'base.html' %}

{% block content %}
  <h2>Restablecer contraseña</h2>

  <div class="card">
    <div class="card-body">
      <form method="post" class="form">
        <div class="form-row">
          <label>Contraseña nueva</label>
          <input type="password" name="password" required />
        </div>

        <div class="form-row">
          <label>Confirmar contraseña</label>
          <input type="password" name="password2" required />
        </div>

        <div class="form-actions">
          <button class="btn btn-primary">Actualizar contraseña</button>
          <a class="btn btn-secondary" href="{{ url_for('main.login') }}">Volver al login</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
